@import 'vars';
@import 'reset';
@import 'mixins';
@import 'animations';

body {
  color: $white;
  background:  $black90;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $base-font-family;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 400;
}
