$black:  #000000;
$blackShadow: rgba(0, 0, 0, 0.18);
$black90: #081F27;

$grey65: #525863;
$grey60: #616161;
$grey50: #828282;
$grey30: #23303A;
$grey20: #BDBDBD;
$grey10: #D3D3D3;
$greyRegisterBackground: #23303A;

$inputFieldDefault: #96DCC6;

$registerButtonOrange: #E2AC09;

$profileSquareGreen: #00A776;
$loginPageGreen: #57BF01;
$jadeGreen: #536477;

$offWhite: #E0E0E0;
$white: #FFFFFF;

$lightBlue: #2F80ED;
$highlightBlue: #4285F4;
$japaneseIndigoDarkBlue: #27435F;

$brightGreen: #27AE60;
$neoGreen: #57BF01;

$blue:    #0074D9;
$aqua:    #7FDBFF;
$lime:    #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400');
$base-font-family: 'Nunito', monospace;
$base-font: 16px/20px $base-font-family;
