@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

/**

@ Victoria

@ 04/30/2018

Purpose: Styling for the myPurchasesTab component

**/
.purchasesPageContainer {
	// width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 200;
	// background: $fuchsia;
	padding: 2% 5% 2% 5%;
}
