@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Victoria/Nicholas

@ 03/08/18

Purpose: Styling for listing the items out on the listing page.

**/

.checkoutItems {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
