@import '../../../../vars';
@import '../../../../reset';
@import '../../../../mixins';
@import '../../../../animations';

/**

@ Alec

@ 3/9/18

Purpose: Spacing / Styling for the img in moreInfoPage

**/

.moreInfoListingImg {
  background: $grey65;
  width: 350px;
  height: auto;
  margin-bottom: 3%;
  padding: 5px;
  border-radius: 5px;
}
