@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Nicholas

@ 03/08/2018

Purpose: Styling for the App component

**/

h3 {
  text-align: center;
  line-height: 500px;
}