@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 3/9/18

Purpose: Spacing for the right side of the moreInfoListingPage

**/

.moreInfoListingRight {
  // height: auto;
  // width: auto;
  left: 175;
  right: 175px;
  top: 50px;
  // padding-top: 375px;
  // padding-left: 150px;
  // padding-right: 20px;
  // position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  // z-index: 0;
  background: $fuchsia;
}
