@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

/**

@ Alec

@ 2/28/18

Purpose: Styling and spacing

**/

.rightSideBarTotal {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 0px 0px 10px 10px;
}

.totalText {
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 200;
  padding: 5px;
  
}
