@import '../../../vars';
@import '../../../reset';
@import '../../../mixins';
@import '../../../animations';

/**

@ Alec

@ 3/9/18

Purpose: Spacing for the specifications of an item in moreInfoPage

**/

.moreInfoListingSpec {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  margin-left: 5%;
}

.titleAndPrice {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}

.title {
  flex: 2;
  overflow-x: hidden;
  line-height: 50px;
  font-size: 35px;
  height: auto;
}

.prices {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  flex-direction: column;
  align-items: flex-end;
}

.neoPrice {
  width: 90px;
  overflow-x: hidden;
  color: $neoGreen;
  font-size: 20px;
  font-weight: 200;
}

.usPrice {
  width: 90px;
  overflow-x: hidden;
  color: $lightBlue;
  font-size: 10px;
  font-weight: 200;
}

.shippingDetails {
  line-height: 14px;
  margin-top: 5px;
  color: $offWhite;
  font-size: 12px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.sellerAndRating {
  width: 300px;
  overflow-x: hidden;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 200;
  font-size: 25px;
}

.seller {
  height: 25px;
  overflow-x: hidden;
  flex: 2;
  color: $lightBlue;
}

.rating {
  height: 25px;
  overflow-x: hidden;
  flex: 1;
  color: $offWhite;
  text-align: right;
}

.itemSpecsLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.cartBtn {
  display: table;
  color: white;
  background: $brightGreen;
  height: 40px;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.removeBtn {
  display: table;
  color: white;
  background: $red;
  height: 40px;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.itemBtnText {
  display: table-cell;
  vertical-align: middle;
}

.removeButtonHandlerText {
  color: $white;
}

.addButtonHandlerText {
  color: $white;
}
