@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

/**

@ Nicholas

@ 03/04/2018

Purpose: Styling for the register page

**/

.file-input-wrapper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.registerPageContainer{
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 100vh;
	background-color: $greyRegisterBackground;
}

.leftSideRegisterPage{
	display: flex;
	flex: 5;
	flex-direction: column;
}

.rightSideRegisterPage{
	dispaly: flex;
	flex: 5;
	flex-direction: column;
}

.registerFormContainer{
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 80%;
	margin: 25% 10% 0% 25%;
	overflow: auto;
}

.fullNameContainer, .userNameContainer{
	text-align: right;
	margin: 0% 10% 5% 5%;
}

.fullNameInput, .userNameInput{
	font-size: 24px;
	color: $inputFieldDefault;
	width: 75%;
	margin: center;
	border-bottom: solid white 1px;
	font-weight: lighter;
}

.emailNameContainer{
	text-align: right;
	margin: 0% 10% 5% 5%;
}

.emailNameInput{
	font-size: 24px;
	color: $inputFieldDefault;
	width: 75%;
	margin: center;
	border-bottom: solid white 1px;
	font-weight: lighter;
}

.passwordNameContainer{
	text-align: right;
	margin: 0% 10% 5% 5%;
}

.passwordNameInput{
	font-size: 24px;
	color: $inputFieldDefault;
	width: 75%;
	margin: center;
	border-bottom: solid white 1px;
	font-weight: lighter;
}

.verifyPasswordNameContainer{
	text-align: right;
	margin: 0% 10% 5% 5%;
}

.verifyPasswordNameInput{
	font-size: 24px;
	color: $inputFieldDefault;
	width: 75%;
	margin: center;
	border-bottom: solid white 1px;
	font-weight: lighter;
}

.importWalletContainer{
	text-align: right;
	margin: 0% 10% 5% 5%;
}

.walletInput{
	font-size: 24px;
	color: $inputFieldDefault;
	width: 75%;
	margin: center;
	border-bottom: solid white 1px;
	font-weight: lighter;
}

.registerButtonContainer {
	display: flex;
	margin: 2% 8% 2% 65%;
	overflow: auto;
}

.registerPageButton{
	display: flex;
	width: 175px;
	height: 50px;
	background-color: $registerButtonOrange;
	border-radius: 4px;
	margin-bottom: 10%;
}

.registerButtonText{
	text-align: center;
	margin: auto;
	font-size: 24px;
	font-weight: lighter;
}

.photoContainer {
  width: 250px;
  background: $greyRegisterBackground;
  padding: 5px;
}

.imgDefault {
  height: 250px;
  width: 200px;
}

.importProfilePictureContainer{
	display: flex;
	flex-direction: column;
  align-items: center;
	width: 370px;
	height: 450px;
	background-color: $profileSquareGreen;
	border-radius: 4px;
	margin: 25% 0% 0% 8%;
}

.profilePictureCaption{
	display: flex;
	font-size: 24px;
	margin: 10% 0% 5% 0%;
}

.importPhotoIconContainer{
  margin: 5% 0%;
}

.registerErrorMessage {
	color: $red;
	text-overflow: ellipsis;
  	max-width: 550px;
  	text-align: center;
  	margin: auto;
}

.registerMessage {
	color: $white;
	text-overflow: ellipsis;
  	max-width: 550px;
  	text-align: center;
  	margin: auto;
}

.registerMessageContainer {
	display: flex;
	background-color: $grey20;
	height: 10%;
	width: 90%;
	border-radius: 8px;
	margin: 0% 0% 0% 5%;
}


