@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/22/18

Purpose: Provides spacing and styling to RightSideBar

**/

.rightsidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 175px;
  position: fixed;
  z-index: 0;
  top: 100px;
  bottom: 0;
  right: 0;
  background: $grey70;
  overflow-x: hidden;
  box-shadow: 0px 9px 18px $blackShadow;
}
