@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/22/18

**/

.sidenav {
  width: 175px;
  position: fixed;
  z-index: 1;
  top: 125px;
  bottom: 0;
  right: 0;
  background: $grey70;
  overflow-x: hidden;
  box-shadow: 0px 9px 18px $blackShadow;
}
