@import '../vars';
@import '../reset';
@import '../mixins';

/**

@ Alec

@ 2/28/18

Purpose: Spacing and Styling

**/

.filterDropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  align-self: center;
  left: 30%;
  top: 50px;
  width: 40%;
  height: 250px;
  z-index: 1;
  overflow-y: hidden;
  background: transparent;
}
