@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

.modalText {
	color: black;
	margin: 12% 0% 0% 0%;
}

.text {
	margin-top: 20px;
}

.passwordLabel {
	// text-align: center;
	margin-bottom: 2%;
}

.passwordInput {
	background: $offWhite;
	border-radius: 3px;
	padding: 3px;
}

.loading {
	color: black;
	margin-top: 20px;
}

.submitButton {
	padding: 5px;
	margin-top: 5%;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	width: 50px;
	background: $brightGreen;
	border-radius: 5px;
}
.wif-form {
	display: flex;
	flex-direction: column;
}
