@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/21/18

**/

.accountNavContent {
  align-self: center;
  width: 100%;
  height: auto;
}

button:hover {
  cursor: crosshair;
  color: $fuchsia;
}
