@import '../../../../vars';
@import '../../../../reset';
@import '../../../../mixins';
@import '../../../../animations';

/**

@ Nicholas

@ 03/08/18

Purpose: Spacing and styling for the checkout page image

**/

.checkOutPagePicture {
  width: 175px;
  height: auto;
  border-radius: 5px;
}

.grumpy {
  margin-top: -250px;
  margin-bottom: 20px;
  z-index: 3;
}

.galaxy {
  z-index: 2;
}
