@import '../../../vars';
@import '../../../reset';
@import '../../../mixins';
@import '../../../animations';

/**

@ Alec

@ 2/27/18

Purpose: Spacing and style for the bottom half of a listing

**/

.listingContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  height: auto;
  border-radius: 0px 0px 5px 5px;
}
