@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/21/18

**/

.accountNav {
  position: fixed;
  display: flex;
  top: 10%;
  left: 0;
  height: 10%;
  width: 175px;
  background: $grey60;
}
