@import '../../../vars';
@import '../../../reset';
@import '../../../mixins';
@import '../../../animations';

/**

@ Alec

@ 3/9/18

Purpose: Spacing / Styling for the img and desc of moreInfoPage

**/

.moreInfoListingItem {
  display: flex;
  flex-direction: column;
  width: 350px;
}
