@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

.listings {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
  position: absolute;
  z-index: 0;
}

.navLink {
  margin: 20px 20px 20px 20px;
}
