@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/27/18

Purpose: Spacing and style for a single listing in the grid

**/

.listing {
  min-width: 350px;
  max-width: 350px;
  flex: 1;
  height: auto;
  // min-height: 350px;
  // max-height: 350px;
  background: $grey65;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $brightGreen;
  }
}
