@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/22/18

Purpose: Provides styling to the TopBar component

**/

.topnav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  top: 0;
  left: 0;
  background: $grey75;
}

.zachBtn {
  height: 30px;
  width: 150px;
  text-align: center;
  vertical-align: center;
  align-self: center;
  border-radius: 10px;
  @box-shadow(0 2 10 10 $black);
  background: $fuchsia;
}

.registerBtn {
  height: 30px;
  width: 150px;
  text-align: center;
  vertical-align: center;
  align-self: center;
  border-radius: 10px;
  @box-shadow(0 2 10 10 $black);
  background: $aqua;
}

.logo {
  align-self: center;
  margin-left: 3%;
}

.search {
  width: 20%;
  display: flex;
  margin-right: 2%;
  align-items: center;
}

.searchicon {
  margin-right: 3%;
}

.searchbubble {
  display: flex;
  padding-left: 5%;
  align-items: center;
  border-radius: 25px;
  height: 50%;
  width: 100%;
  background: $grey70;
  color: $grey50;
}

input[type=text] {
  width: 75px;
  height: 30px;
  background: white;
  color: black;
  border-radius: 10px;
}

.formGroup {
  background: $fuchsia;
  display: flex;
  flex-direction: row;
}
