@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Victoria/Nicholas

@ 3/4/18

Purpose: Spacing and style for the listing description in the checkOut page

**/


.checkOutTableItem {
  min-width: 600px;
  max-width: 600px;
  flex: 1;
  min-height: 233px;
  max-height: 233px;
  margin: 25px 20px 20px 30%;
  background: $grey65;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
}
