@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

/**

@ Nicholas

@ 03/13/2018

Purpose: Styling for the makePostForm component

**/

.makePostFormWrapper {
  height: auto;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.leftSideForm {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.rightSideForm {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.inputFormContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 25% 10% 0% 15%;
  overflow: auto;
}

.titleNameContainer {
  text-align: right;
  margin: 8% 10% 5% 5%;
}

.titleNameInput {
  font-size: 18px;
  color: $inputFieldDefault;
  width: 100%;
  margin: center;
  border-bottom: solid white 1px;
  font-weight: lighter;
}

.priceContainer {
  text-align: right;
  margin: 8% 10% 5% 5%;
}

.priceInput {
  font-size: 18px;
  color: $inputFieldDefault;
  width: 100%;
  margin: center;
  border-bottom: solid white 1px;
  font-weight: lighter;
}

.amountContainer {
  text-align: right;
  margin: 8% 10% 5% 5%;
}

.amountInput {
  font-size: 18px;
  color: $inputFieldDefault;
  width: 100%;
  margin: center;
  border-bottom: solid white 1px;
  font-weight: lighter;
}

.descriptionContainer {
  margin: 8% 10% 5% 5%;
  background: $greyRegisterBackground;
}

.descriptionInput {
  color:$inputFieldDefault;
  width: 100%;
}

.editImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35% 0% 0% 0%;
}

.editImage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 5px;
}

.upload {
  margin-left: 25px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}
.upload > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.makePostButtonContainer {
  display: flex;
  margin: 2% 8% 2% 65%;
  overflow: auto;
}

.makePostButton {
  display: flex;
  width: 250px;
  height: 50px;
  background-color: $registerButtonOrange;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}

.makePostButtonText {
  text-align: center;
  margin: auto;
  font-size: 24px;
}
