@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/*
  @Author: Alec
  @Date: 4/25/17
*/

.main-container {
  position: absolute;
  height: auto;
  left: 175px;
  right: 175px;
  top: 50px;
  z-index: -1;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: -2;
}

.tab {
  color: $loginPageGreen;
  text-align: center;
  line-height: 53px;
  font-size: 30px;
  width: 100%;
  height: 50px;
  background: $greyRegisterBackground;
  $backgroundColorTransition: color 0.125s ease-in, background 0.125s ease-in;
  @include transition($rules: $backgroundColorTransition);
  &:hover {
    color: white;
    cursor: pointer;
  }
}
