@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/*
  @Author: Alec
  @Date: 4/25/17
*/

.main-container {
  position: absolute;
  left: 175px;
  right: 175px;
  top: 50px;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 0% 0% 0%;
}

.tab {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  width: 100%;
  height: 50px;
  border: 2px solid $japaneseIndigoDarkBlue;
  background: $japaneseIndigoDarkBlue;
  &:hover {
    background: none;
  }
}
