@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Victoria

@ 03/04/2018

Purpose: Styling for the makePost Container component

**/


@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Nicholas

@ Date: 03/06/18

Purpose: CSS file for styling checkOut page

**/


body {
	background-color: #4F4F4F;
}
