@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Nicholas

@ 03/04/2018

Purpose: Styling for the makePost component

**/

h3 {
  text-align: center;
  line-height: 500px;
}
