@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

/**

@ Victoria/Nicholas

@ 3/4/18

Purpose: Styling for the purchase button in the checkOutPage

**/

.price{
  background:#F6A8;
}


.purchaseBtn {
    position: absolute;
    width: 163px;
    height: 50px;
    background-color: $loginPageGreen;
    color: black;
    font-size: 29px;
    border: 2px solid $loginPageGreen;
    border-radius: 4px;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid #F45866;
    }

    button {
        width: 163px;
        height: 50px;
        font-size: 29px;
    }
}
