@import '../../vars';
@import '../../reset';
@import '../../mixins';
@import '../../animations';

/**

@ Alec

@ 2/21/18

**/

.leftAccountNavContent {
  align-self: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.profileText {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 200;
  color: white;
}

.downArrowIcon {
  margin-right: 10px;
  margin-top: 42px;
}
