@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

.header {
	margin-top:10%;
	text-align: center;
	color: #FFFFFF;
}

.checkOutTotal {
	margin-top: 35%;
	margin-left: 20%;
	text-align: left;
	width: 100%;
	color: #FFFFFF;
}

body {
	background-color: #4F4F4F;
}
