@import '../vars';
@import '../reset';
@import '../mixins';

/**

@ Alec

@ Date: 2/28/18

Purpose: styling and Spacing

**/

.filterDropdownContent {
  display: flex;
  z-index: 3;
  background: $grey75;
  width: 100%;
  opacity: 0.75;
}
