@import '../../../vars';

/**

@ Alec

@ 2/28/18

Purpose: Style and spacing

**/

.rightSideBarItem {
  width: 150px;
  height: 75px;
  margin-top: 15px;
  border-radius: 5px;
  background: $grey65;

}

.rightSideBarItemTitle {
	text-align: center;
}

.rightSideBarItemTotal{
	text-align: center;
	color: $neoGreen;
}
