@import '../../../vars';

/**

@ Alec

@ 2/28/18

Purpose: Style and spacing

**/

.rightSideBarItem {
  width: 150px;
  height: 75px;
  margin-top: 15px;
  border-radius: 5px;
  background: $grey65;
}

.rightSideBarItem:hover {
  cursor: pointer;
}

.rightSideBarItemTitle {
	text-align: center;
}

.rightSideBarItemTotal{
  width: 125px;
  margin-left: 12.5px;
  overflow-x: hidden;
	text-align: center;
	color: $neoGreen;
}
