@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

/**

@ Alec

@ 2/26/18

Purpose: provides styling and spacing for RightAccountBarContent

**/

.rightAccountNavContent {
  align-self: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

button {
  box-shadow: 0px 0px 10px $blackShadow;
  &:hover {
    align-self: end;
    cursor: crosshair;
    color: $fuchsia;
  }
}
